#resolution{
    width: 1080px;
    height: 1920px;
    margin: auto;
    margin-top: 1cm;
    margin-bottom: 1cm;
    position: relative;
    border-color: black;
    border: 1px;
    border-style: solid;
}
header{
    background-image: url("Images/ElonMusk.png");
    height: 960px;
    width: 1080px;
}
#pinbottomleft{
    position: absolute;
    font-size: 400%;
    color: white;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 1%;
    bottom: 970px;
    left: 10px;
}
#pinbottomright{
    position: absolute;
    font-size: 400%;
    color: white;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 1%;
    bottom: 970px;
    right: 10px;
}
.title1{
    position: absolute;
    font-size: 300%;
    margin-right: 540px;
    margin-left: 10px;
}
.content1{
    position: absolute;
    font-size: 200%;
    margin-right: 540px;
    margin-left: 20px;
    margin-top: 270px;
}
#qrtext{
    position: absolute;
    font-size: 300%;
    margin-left: 599px;
    margin-right: 20px;
}
#qrcode{
    position: absolute;
    bottom: 500px;
    right: 110px;
}
.MinersHelmet{
    position: absolute;
    bottom: 10px;
    right: 10px;
}